@inherits LayoutComponentBase

@* @Body *@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <p class="my-auto mx-2">Hello, @context.User.Identity?.Name!</p>
                    <button class="btn btn-primary">Logout</button>
                </Authorized>
            </AuthorizeView>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>