.my-background-div {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(/images/logo-creative-tim-black.png);
    background-size: 50em;
    background-position: center;
    background-repeat: no-repeat;
}

.blur-effect {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    /*-webkit-backdrop-filter: blur(10px);*/ /* Safari */
}

h1{
    font-family: "New York Times", "Times New Roman", serif;
    font-weight: 700;
    font-size: 50px;
}
